<!--app-menubar></app-menubar-->

<!--router-outlet></router-outlet-->
<div class="p-grid p-jc-center p-mt-4">
<p-card [style]="{width: '500px'}">
  <ng-template pTemplate="header">
    <div class="p-grid p-jc-center p-mt-4">
      <img [src]="'assets/images/logoG.png'" [style]="{'width': '70%', 'display':'block'}">
    </div>

    <div [style]="{color:'#ff0391', 'font-family': 'dancing_script'}" class="p-grid p-jc-center p-mt-4">
      <br>
      Tranquilidad A Tu Alcance
    </div>
  </ng-template>
  </p-card>
</div>
