<!--app-menubar></app-menubar-->
<p-toast></p-toast>

<p-table #dtu [value]="users" styleClass="p-datatable-striped" [rows]="10" [paginator]="true" [globalFilterFields]="['correo']"
[rowHover]="true" dataKey="id" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
  [showCurrentPageReport]="true">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Usuarios

      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dtu.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="correo">Usuario <p-sortIcon field="correo"></p-sortIcon>
      </th>
      <th pSortableColumn="tipo">Tipo <p-sortIcon field="tipo"></p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td> {{user.correo}} </td>
      <td> {{user.tipo}} </td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" style="background: #ff0391; border: 1px solid #ff0391;" class="p-button-pink p-button-rounded p-button-success p-mr-2" (click)="editUser(user)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>


<form #fn="ngForm">
<p-dialog [(visible)]="showDialog" [style]="{width: '400px'}" header="Registro" [modal]="true" styleClass="p-fluid" [baseZIndex]="10000" >

  <ng-template pTemplate="content">

    <div class="p-grid p-justify-center p-align-center">

      <div class="p-mt-4">
        <input name="email" type="text" pInputText [(ngModel)]="userNew.correo" required email placeholder="Email">
        <p-message severity="error" *ngIf="fn.submitted && !userNew.correo" text="Requerido"></p-message>
      </div>

      <div class="p-mt-4">
        <p-password name="password" [(ngModel)]="userNew.contrasenia" [feedback]="false" required placeholder="Password"></p-password>
        <p-message severity="error" *ngIf="fn.submitted && !userNew.contrasenia" text="Requerido"></p-message>
      </div>

    </div>

  </ng-template>

  <!--div class="p-mt-4">
    <p-message severity="error" *ngIf="fn.submitted && isNewUserInvalid" text="{{messageInvalid}}"></p-message>
  </div-->

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-primary" (click)="saveOrUpdateUser()"></button>
    <button pButton pRipple label="Cancelar" icon="pi pi-times" style="background: #ff0391; border: 1px solid #ff0391;" class="p-button-pink" (click)="showDialog = false"></button>
  </ng-template>

</p-dialog>
</form>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
